@font-face {
  font-family: my-1;
  src: url(../webfonts/Chaletliness.ttf);
}
@font-face {
  font-family: Verdana;
  src: url(../webfonts/Verdana.ttf);
}




@font-face {
  font-family: my-2;
  src: url(../webfonts/AcryleScript_PersonalUse.ttf);
}
@font-face {
  font-family: my-3;
  src: url(../webfonts/AguafinaScript-Regular.ttf);
}
@font-face {
  font-family: my-4;
  src: url(../webfonts/SCRIPTIN.ttf);
}
@font-face {
  font-family: my-5;
  src: url(../webfonts/True-Lies.ttf);
}
