
body {
    overflow: hidden; /* Hidden all page for loading*/
    margin: 0;
    background: #555;
    }
:root{
    --main-color: #fc1;
    --bg-color: #777; 
    --font-color: #333; 
    }

  /* Formatting loading */
    #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
    }
  /* Formatting Loading Animation */
    #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    }
/* --------------------------------------------------------------- */
main{
    background-color: #777;
    box-shadow: 0 0  3px 0 #000;
}
header{
    background: #fc1;
    padding-right: calc(var(--bs-gutter-x) * 2.5);
    padding-left: calc(var(--bs-gutter-x) * 2.5);
    padding-top: calc(var(--bs-gutter-x) * 2.5);
}
.name{
    font-size: 6vw;
    text-transform: uppercase;
    margin: 0;
    color: var(--bg-color);
  }
  .title{
    line-height: 1;
    background: var(--bg-color);
    display: inline-block;
    width: 100%;
    display: inline-block;
    color: var(--bg-color);
    text-align: left;
    
  }
  .title-an{
    line-height: 1;
    background: #fff;
    letter-spacing: 2px;
    font-size: 2vw;
    text-transform: uppercase;
    color: var(--bg-color);
  }

  summary{
      padding-right: calc(var(--bs-gutter-x) * 2.5);
      padding-left: calc(var(--bs-gutter-x) * 14);
      padding-top: calc(var(--bs-gutter-x) * .5);
      padding-bottom : calc(var(--bs-gutter-x) * .5);
      color: #fff;
      font-size: 1.5vw;

    }
    article{
        padding-right: calc(var(--bs-gutter-x) * 2.5);
        padding-left: calc(var(--bs-gutter-x) * 2.5);
        font-size: 1.5vw;
    }
    aside{
        padding-right: calc(var(--bs-gutter-x) * 2.5);
        padding-left: calc(var(--bs-gutter-x) * 2.5);
        font-size: 1.5vw;
    }
    footer{
        padding-right: calc(var(--bs-gutter-x) * 2.5);
        padding-left: calc(var(--bs-gutter-x) * 2.5);
        padding-bottom: calc(var(--bs-gutter-x) * 1.5);
        font-size: 1.5vw;
    }
    .r-nav{
        background: #fff;
        padding-left: calc(var(--bs-gutter-x) * 12);
        padding-bottom: 1vw;
    }


    .ex{
        display: grid;
        grid-template-columns: 70px 1fr;
        align-items: center;  
      }
      .ex .t1{
        text-align: center;
        /* min-width: 100px; */
        transform: rotate(-90deg);
        margin: -1px -15px;
        /* position: relative; */
        /* padding-top: 30px; */
      }
      .ex .t2{
          padding: 5px 10px;
          margin: 5px 0px;
          text-align: justify;
          border-left: 4px solid var(--main-color);
          background: #eee;
          padding-right: 5px;
          box-shadow: 0px 1px 2px var(--bg-color);
      }
      .ex .t2 h3{
        margin: 0;
      }
      .ex .t2 strong{
        padding-left: 30px;
      }
       .sec-2{
        border-top: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        padding-bottom: 5px; 
      }

    .sec-3 dl {
        margin-bottom: 10px;
        margin-top: 5px;
        margin-left: 70px;
        display: flex;
        flex-direction: column;
        border-left: 4px double var(--main-color);
        padding-left: 10px;
    }
    .sec-3 dt {
      font-weight:bold;
      margin-left: 0px;
    }
    .sec-3 dd {
     margin-left: 0px;
    }

    /* navigation -----------------------*/
main nav{
    position: absolute;
    left: 10%;
    background: var(--main-color);
    width: 5.6cm;
    height: 100%;
    padding-top: 20px;
    top: 0;
  }
  main nav .info{
    background: var(--bg-color);
    border-radius: 10px 10px 0 0;
    text-align: center;
  /*  height: 50%; */
  }
  main nav .info .photo{
    width: 200px;
    margin: 6px;
    border-radius: 10px;
    border: 3px solid #fff;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(250, 250, 250, 0.2)));
  }
  
  main nav .contacts{
    color: #fff;
    padding: 10px 10px;
    text-align: left;
    position: relative;
    z-index: 5;  
    margin-top: 20px;
    border-bottom: 20px solid #fff;
  }
  main nav .contacts h2{
    text-decoration: underline;
    color:var(--main-color);
  }
  main nav .contacts ul{
    list-style-type:none;
    padding: 0 5px;
  }
  main nav .contacts ul i{
    color:var(--main-color);
    padding: 5px 0px;
    font-size: large;
    width: 25px;
  }
  main nav .contacts ul li{
    color: #fff;
  }
  
  
  main nav .skills{
    color: var(--bg-color);
    padding: 0px 10px 0;
    text-align: left;
  /*  position: relative; */
    z-index: 5;
    background: var(--main-color);
    border-top: 1px dashed #eee;
  }
  main nav .skills .h-skills{
  /*  background: #fff;
    */margin: 0 -10px;
    padding: 10px;
    text-decoration: underline;
  }
  main nav .skills ul {
    list-style-type: disc;
    padding: 10px 5px 20px;
    margin: 0 15px;
  }
  main nav .skills ul li{
    padding-bottom: 5px ;
    text-shadow: 1px 1px 4px #fff;
  }